body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.signin-form {

    width: 300px;

}
.signin-page {
    padding-top: 31px;
}
.page-txt {
    padding-top: 75px;
}
.select-role {
    border: none;
    padding: 10px;
    text-align: center;
    padding-top: 7px;

}
.user-signin {
    padding: 0px;
    border: none;
    border-radius: 10px;
}
.user-signin input {
    background: #fff;
    border: 1px solid #c6c7cc;
    color: #636466;
    padding: 10px;
    margin-bottom: 25px;
    width: 90%;
    border-radius: 5px;
    font-size: 15px;
}
#signin-btn {
    background: linear-gradient(#636466, #008800);
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 88px;
    text-align: center;
    /* padding-left: 147px; */
}
#signin-btn:hover {
    background: #008800;
}
.pwd-forgot {
    border: 0;
    color: #fff;
    cursor: pointer;
    /* float: right; */
    /* text-align: right; */
    /* width: 150px; */
    /* font-size: 15px; */
    /* padding: 5px 15px; */
}
.pwd-forgot:hover {
    color: grey;
}

.sample {
    padding-left: 84px;

}