<!DOCTYPE html>
<html >
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--[if IE 6]>
    <link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
    <![endif]-->
    <title> Login</title>

</head>

<body>
<!-- Header -->
<div id="page-wrap">
    <link rel="stylesheet" href="css/style.css">

    <div id="header">

        <h1 id="logo"><a href="#">Movie Flix</a></h1>
        <div class="social">

            <span>FOLLOW US ON:</span>
            <ul>
                <li><a class="twitter" href="#">twitter</a></li>
                <li><a class="facebook" href="#">facebook</a></li>
                <li><a class="vimeo" href="#">vimeo</a></li>
                <li><a class="rss" href="#">rss</a></li>
            </ul>
        </div>
    </div>
    <!-- Navigation -->
    <!-- Navigation -->
    <div id="navigation">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="getallmovies.html">ALL MOVIES</a></li>
            <li><a href="#">COMING SOON</a></li>
            <li><a href="#">CONTACT</a></li>

        </ul>
    </div>
    <!-- end Navigation -->

        <div class="signin-page">

            <link rel="stylesheet" href="css/signin.css">

            <div class="page-txt">
                <div class="sample"><h1>Sign In</h1></div>


            </div>
            <div class="signin-form">

                <form>
                    <fieldset class="select-role">
                        <label>
                            <input type="radio" name="role" value="member" checked="checked"> Member
                        </label>
                        <label>
                            <input type="radio" name="role" value="admin"> Admin
                        </label>
                    </fieldset>
                    <fieldset class="user-signin">
                        <label>
                            Email
                            <input name="email" type="email" placeholder="email@email.com" required="">
                        </label>
                        <label>
                            Password
                            <input name="password" type="password" placeholder="Password" required="">
                        </label>
                        <button id="signin-btn" class="btn"><a href="../MovieFlix/login.home.html">SIGN IN</a></button>
                    </fieldset>
                </form>
                <div class="pwd-forgot">
                    Forgot Password?
                </div>
            </div>
        </div>





    <!-- Navigation ends -->




    <!-- Footer -->
    <div id="footer">
        <link rel="stylesheet" href="css/style.css">

        <p>
            <a href="#">HOME</a> <span>|</span>
            <a href="#">NEWS</a> <span>|</span>
            <a href="#">IN THEATERS</a> <span>|</span>
            <a href="#">COMING SOON </a> <span>|</span>
            <a href="#">LATERS TRAILERS</a> <span>|</span>
            <a href="#">TOP RATED TRAILERS</a> <span>|</span>
            <a href="#">MOST COMMENTED TRAILERS</a> <span>|</span>
            <a href="#">CONTACT </a>
        </p>
        <p> &copy; 2017 Movie Flix, . All Rights Reserved.  Designed by <a href="https://github.com/satishkumar9549" target="_blank" title="Egen Solutions">https://github.com/satishkumar9549</a></p>
    </div>
</div>
</body>


</html>
